<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <style>
        .job-card {
            border: 1px solid #ccc;
            padding: 2px;
            margin: 2px 0;
            border-radius: 1px;
        }
    </style>
    <style>
        body {
            background-color: black;
            color: white;
            /* optional: makes text visible */
        }
    </style>

    <h1 style="text-align: center;">{{ project_name }}</h1>
    <hr>
    <img src="https://img.freepik.com/premium-vector/international-day-clean-air-blue-skies-07-september-banner-background-cloudy-blue-sky_294772-228.jpg?w=900"
        width="1000" height="350" alt="Description of image">
    <hr>
    <h2>
        Air Quality Index
    </h2>
    <hr>
    <p>
        The air quality index (AQI) in major cities across India varies significantly, reflecting the diverse
        environmental challenges faced by each urban area. Factors such as industrial emissions, vehicular pollution,
        and construction activities contribute to fluctuating AQI levels, often leading to health advisories during
        periods of poor air quality. Cities like Delhi frequently experience high AQI readings, particularly during
        winter months when weather conditions exacerbate pollution levels. Monitoring these indices is crucial for
        public health and environmental policy, as they provide essential data for mitigating air pollution and
        improving overall air quality in urban settings.
    </p>
    <h2>
        Jobs
    </h2>
    <div>
        {% for job in jobs %}
        <div>{{ job.title }}</div>
        <div>{{ job.location }}</div>
        <div>{{ job.salary }}</div>
        <div style="text-align: right;">
            <button>Apply</button>
    </div>

    <div class="job-card"></div>
    {% endfor %}
    </div>


</body>

</html>